@import "tailwindcss";

/* 自定义大屏专用细滚动条 - 领航员推荐配置 */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* 足够窄，不占位 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(10, 25, 47, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #3b82f6,
    #ef4444
  ); /* 蓝红渐变，暗示监控告警 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}
